@charset "UTF-8";


*{
  margin: 0px;
  padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family:'mega';
  src: url(assets/fontes/MegaMan.[fontvir.us].ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'smw';
  src: url(assets/fontes/smw.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'retro';
  src: url(assets/fontes/Retro\ Stereo\ Wide.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'marioc';
  src: url(assets/fontes/SuperMario256.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'retro';
  src: url(assets) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'retro';
  src: url(assets) format('truetype');
  font-weight: normal;
  font-style: normal;
}

html body {
  background-color: white;
  height: 100vh;
  background-color: #d1d9cea4;
}


header {
background-image: url(assets/imagens/mwIr52300\ -\ Copixa.png);
background-color: #D1D9CE;
height: 600px;
background-position: center center ;
background-repeat: no-repeat;
width: auto;
border: 2px solid black;
box-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.548);
background-size: 100%;
padding-bottom: 0px;
margin-bottom: 70px;


}

header > h1 {
  padding-top: 40px;
  font-family: 'retro';
  font-weight: lighter;
  font-size: 65px;
  text-align: center;
  background-image: linear-gradient(to right,rgb(102, 101, 101), rgb(99, 99, 99),rgb(1, 1, 124),rgb(1, 1, 102)) ;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

header > h1::before{
  font-family: 'smw';
  content: "z";
  padding-right: 7px;
  text-transform: red ;
  font-size: 120px;
}

header > h1::after{
  font-family: 'mega';
  content: "a";
  padding-left: 7px;
  text-transform: red ;
  font-size: 120px; 
}

main {
  background-color:#D1D9CE ;
  width: auto;
  margin: 50px;
  height: 200vh;
}

article{
  position: absolute;
  display: inline-block;
  height: 800px;
  width: 100%;
  align-items: center;
  justify-content: center;
  
}

article > h1 {
  display: flex;
  font-family:'marioc';
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  width: 60%;
  padding-top: 40px;
  background-image: linear-gradient(to right,red,rgba(0, 128, 0, 0.514),blue) ;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: black;
  justify-content: center;
  
  
  
}

a {
  display: block;
  font-size: 50px;
  
  width: 60%;
  text-align: center;
 
}

.img1{
  width: 60%;
  

}

.container-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; 
  width:  ;
  background-color: antiquewhite;
}

.content-img1 {
  text-align: center;
  width: 50%; 
  display: flex;
  justify-content: flex-end;
  
}

.content-images {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.img2{
  width: 20%;
  
  
}

.img3 { 
  width: 20%;
  
}

.img4 {
  width: 20%;
}









